.hotelWrp {
    height: fit-content;
    width: 100%;
    border: 1px solid rgb(171, 171, 171);
    border-radius: 3px;
    padding: 10px;
    display: grid;
    grid-template-columns: 230px 1fr 170px;
    grid-gap: 20px;
    margin-bottom: 30px;
}


.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.discription>* {
    padding: 0px;
    margin: 0px;
}

.discription>h3 {
    color: var(--btnBackground);
    font-size: 20px;
}

.discription>p {
    font-size: 15px;
    color: rgb(41, 41, 41);
    padding: 6px 0px;
    font-weight: 500;
}

.discription>div {
    padding: 3px 3px;
    background: green;
    color: #fff;
    width: fit-content;
    border-radius: 5px;
    font-size: 14px;
}

.discription>b {
    font-size: 15px;
    color: rgb(41, 41, 41);
    padding: 6px 0px
}



.price {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-gap: 5px;
}

.btn {
    background: var(--btnBackground);
    color: #fff;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.rattingWrp {
    display: flex;
    justify-content: space-between;
}

.rattingWrp>div {
    color: black;
    font-weight: 600;
    font-size: 17px;

}

.rating {
    width: fit-content;
    padding: 7px;
    color: #fff;
    background: var(--parimaryBackground);
}

.prigingWrp {
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: flex-end;
}

.prigingWrp>h2 {
    padding: 10px 0px;
    margin: 0px;
}

.prigingWrp>p {
    padding-bottom: 3px;
    margin: 0px;
    color: rgb(110, 110, 110);
}



@media (max-width:1023px) {
    .hotelWrp {
        grid-template-columns: 1fr;
        grid-template-rows: 230px 1fr 170px;
    }
}

@media (max-width:768px) {
    .hotelWrp {
        grid-template-columns: 1fr;
        grid-template-rows: 230px 1fr 170px;
    }

    .discription {
        width: 100%;
    }

    .price {
        width: 100%;
    }
}