.image {
    height: 100%;
    width: 100%;


}

.head {
    color: #fff;
}

.dis {
    color: #fff;
}

.btn {
    color: #fff;
    background: var(--btnBackground);
    border: none;
    padding: 10px 10px;
    margin-top: 20px;
}