.serchWrp {
    display: grid;
    grid-template-columns: 270px 1fr;
    margin-top: 20px;
    grid-gap: 20px;
}

.aside {
    height: 75vh;
    position: sticky;
    top: 150px;
    z-index: 0;
}

.body {
    display: flex;
    flex-direction: column;
}

.searcherWrp {
    margin: auto;
    background: var(--yellowBorder);
    color: black;
    padding: 10px;
    width: 100%;
    margin: auto;
    border-radius: 7px;
}

.searcherWrp>h3 {
    padding: 0px;
    margin: 0px;
}

.inputWrper {
    display: flex;
    flex-direction: column;
}

.inputWrper>div>p {
    padding: 0px;
    margin-bottom: 5px;
}

.destinationInput {
    width: 100%;
    border: none;
    border-radius: 3px;
    padding: 9px;
    border: 2px solid var(--parimaryBackground);
}

.CheckingInput {
    background: #fff;
    width: 100%;
    border: 2px solid var(--parimaryBackground);
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
}

.optionsWrp {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.optionsWrp>div {
    display: flex;
    justify-content: space-between;
    margin: 6px 0px;
    padding-left: 15px;
}

.optionsWrp>div>span {
    color: rgb(47, 47, 47);
}

.optionsWrp>div>input {
    width: 50px;
    outline: none;
    border: 1px solid black;
    text-align: center;
}


.dateRange {
    position: absolute;
    margin-top: 5px;
    border: 2px solid var(--yellowBorder);
    background: #fff;
}

.btn {
    width: 100%;
    padding: 8px;
    text-align: center;
    color: #fff;
    background: var(--btnBackground);
    border-radius: 3px;
    outline: none;
    border: none;
    font-size: 18px;
    margin-bottom: 10px;
}

@media (max-width:768px) {
    .serchWrp {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        margin-top: 20px;
    }

    .aside {
        position: static;
    }

    .body {
        margin-top: -115px;
    }

}