.containerWrp {
    width: 85%;
    margin: auto;
}




@media (max-width:1024px) {
    .containerWrp {
        width: 85%;
    }
}

@media (max-width:768px) {
    .containerWrp {
        width: 90%;
    }
}

@media (max-width:425px) {
    .containerWrp {
        width: 92%;
    }
}


/* extra large display */
@media (min-width:1500px) {
    .containerWrp {
        width: 1400px;
    }
}