@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,400;1,500;1,700&display=swap');

:root {
  --parimaryBackground: #003173;
  --btnBackground: #0367b4;
  --secbtn: #ecedee;
  --yellowBorder: #da9e30;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;

}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}