.offerWrp {
    margin-top: 65px;
}

.OfferItemWrp {
    height: 200px;
    width: 100%;
    display: flex;
    overflow-x: scroll
}

.OfferItemWrp::-webkit-scrollbar {
    display: none;
}

.ExloreItemWrp {
    height: 200px;
    width: 100%;
    display: flex;
    overflow-x: scroll;
}

.ExloreItemWrp::-webkit-scrollbar {
    display: none;
}




@media (max-width:768px) {
    .ExloreItemWrp {
        grid-template-columns: 1fr 1fr;

    }
}