.offerWrp {
    margin-top: 65px;
}

.OfferItemWrp {
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}



.ExloreItemWrp {
    height: 200px;
    width: 100%;
    display: flex;
    overflow: hidden;
}





@media (max-width:768px) {
    .ExloreItemWrp {
        grid-template-columns: 1fr 1fr;

    }
}