.offerWrp {
    margin-top: 65px;
}

.OfferItemWrp {
    height: 250px;
    width: 100%;
}

.OfferItemWrp::-webkit-scrollbar {
    display: none;
}

.ExloreItemWrp {
    height: 200px;
    width: 100%;
}

.ExloreItemWrp::-webkit-scrollbar {
    display: none;
}


@media (max-width:1024px) {



    .ExloreItemWrp {
        height: 300px;
    }
}

@media (max-width:768px) {
    .OfferItemWrp {
        height: 500px;
    }


    .ExloreItemWrp {
        height: 450px;


    }
}